body{
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #d4f3d2, #a8e6cf);
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;}

#header {
  width: 100vw; /* כל רוחב המסך בפיקסלים */
  margin: 0;
  padding: 0 24px;
  background-color: #040504; /* צבע כהה כמו בתמונה */
  color: white;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0; /* לא לעגל פינות */
}


.btn_2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
/* שדות קלט */
/* עיצוב כללי לשדות קלט ו-select */
input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #2e7d32;
  border-radius: 8px;
  background: #e8f5e9;
  font-size: 16px;
  transition: 0.3s;
  box-sizing: border-box; /* הוסף כדי לוודא שהpadding נכלל בתוך ה-width */
}

#priceText{
  font-size: 20px;
}


p {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 4px;
}



input:focus, select:focus {
  border-color: #1b5e20;
  outline: none;
  /* box-shadow: 0px 0px 5px rgba(46, 125, 50, 0.7); */
}
  
  @media (min-width:750px) {
    #titleProducts{
      display: none;
    }
    

      
    #text{
      font-size: 15px;
      margin-top: 0px;
    }

   .div_main {
      margin-top: 0px;
      width: 30%;
      direction: rtl;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-right: 4px solid #7de5ac; /* פס כתום בצד כמו בתמונה */
      border-radius: 8px;
      padding: 24px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      box-sizing: border-box;
  }


  #totalProducts {
    display:flex;
    justify-content: space-around;
    align-content: start;
    flex-wrap: wrap;
    align-items: start;
    width: 65%;
    direction: rtl;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-right: 4px solid #7de5ac; /* פס כתום בצד כמו בתמונה */
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    box-sizing: border-box;
  } 


  #main{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin: 20px;
  }

  .checkbox2{
      
    display: flex;
    align-items: center;
  }
  .checkbox2>input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .btn_2{
    margin-top: 0px;
  }
  

    
  
    #title {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color: white;
    }
    
  
    span {
      color: rgb(22, 182, 22);
    }
  
  
    #titleProducts {
      display: none;
    }
  
  
    .product {
      width: 200px;
      height: 110px;
      font-size: 16px;
      border-radius: 10px;
      border-color:rgb(159, 158, 158);
      margin: 20px;
      color: rgb(43, 42, 42);
      cursor: pointer;
      text-align: left;
      padding-left: 15px;
      padding-top: 10px;
      border: 1.5px rgb(103, 102, 102) solid;
      background-color: white;
      animation: nav 1s 1;
      direction: rtl;
      padding-right: 10px;
      text-align: right;
      position: relative;
      transition: transform 0.2s ease-in-out;
    }
    
  
    .product:hover {
      transform: scale(1.11);
    }
    
    
    .product > h1 {
        text-align: right;
        font-size: 16px;
        text-shadow: 0 0 0 0px white;
        margin-bottom: 0px;
    }
    
    
    .product > p {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 13px;
      text-shadow: 0 3px 10px rgb(43, 42, 42)
                   0 0 2px rgb(43, 42, 42)
                   0 0 1px rgb(43, 42, 42);
      display: block;
      width: 82px;
    } 
    .product >p:last-child{
      width: 90px;
    }
    
    
    .product > img:first-child {
      display: none;
      position: absolute;
      width: 40px;
      height: 40px;
      margin-left: 140px;
      margin-top: 40px;
    }
  
    .product > button{
      height: 20px;
    }
  
    
    
  .btn {
      background-color:rgb(126, 126, 126);
      height: 42px;
      width: 165px;
      margin-right: 40px;
      margin-top: 10px;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      font-size: 20px;
    }
    
    .product > img:last-child {
      /* background-image: url('imgDelete.png'); */
      background-position: rtl;
      background-size: 60%;
      background-repeat: no-repeat;
      border-style: none;
      border-radius: 4px;
      height: 40px;
      width: 30px;
    }
    #remov{
      position: absolute;
      left: 15px;
      bottom: 10px;
    }
  
  
    .product > img:last-child:hover {
      animation: delete 0.5s 1;
    }
    
    .btn:hover {
      transform: scale(1.110);
    }
      
    
    #btn_second {
        width: 180px;
        margin-top: 15px;
    }
    
  .title{
      margin-bottom: 30px;
  }
    h1 {
        font-size: 40px;
        color: rgb(95, 95, 95);
      }
      
  @keyframes glow {
        0% {
          text-shadow: 0 0 4px white;
        }
        50% {
          text-shadow: 0 0 10px white;
        }
        100% {
          text-shadow: 0 0 4px white;
        }
      }
  @keyframes delete {
      30%{
          transform: rotate(-25deg);
      }    
      60%{
          transform: rotate(25deg);
      }
  }
  
  }
  
  @media (max-width:750px) {

  .div_main {
      padding: 15px;
      width: 90%;
      margin: auto;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-right: 4px solid #7de5ac; /* פס כתום בצד כמו בתמונה */
      border-radius: 8px;
      padding: 24px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      box-sizing: border-box;
  }

  #main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
  }


  #totalProducts {
    display:flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin-top: 10px;
    border-radius: 4px;
    direction: rtl;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-right: 4px solid #7de5ac; /* פס כתום בצד כמו בתמונה */
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    box-sizing: border-box;
  } 
  



    #remov{
      position: absolute;
      left: 15px;
      bottom: 10px;
    }
  
    .product >p:last-child{
      width: 90px;
    }
    #titleProducts{
      display: block;
      border-bottom: 2px solid gray;
    }
    .checkbox2{
      
      display: flex;
      align-items: center;
    }
    .checkbox2>input{
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
    

  #text{
    margin-right: 5px;
    font-size:15px ;
  }

  
    #title {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      color: white;
      text-shadow: 0 10px 8px #dcd9d9,
                   10px 10px 4px #dbd9d9,
                   0px 10px 5px #dad3d3,
                   0  10px 2px #cecbcb;
    ;
      animation: glow 2s ease-in-out infinite;
    }
    
  
    span {
      color: rgb(22, 182, 22);
    }
  
  
    #titleProducts {
      direction: rtl;
      display: block;
      width: 300px;
      font-size: 25px;
      border-bottom: 2px gray solid;
    }
  
  
    .product {
      width: 200px;
      height: 110px;
      font-size: 16px;
      border-radius: 10px;
      border-color:rgb(159, 158, 158);
      margin: 20px;
      color: rgb(43, 42, 42);
      cursor: pointer;
      text-align: left;
      padding-left: 15px;
      padding-top: 10px;
      border: 1.5px rgb(103, 102, 102) solid;
      background-color: white;
      animation: nav 1s 1;
      direction: rtl;
      padding-right: 10px;
      text-align: right;
      position: relative;
      transition: transform 0.2s ease-in-out;
    }
    
  
    .product:hover {
      transform: scale(1.11);
    }
    
    
    .product > h1 {
        text-align: right;
        font-size: 16px;
        text-shadow: 0 0 0 0px white;
        margin-bottom: 0px;
    }
    
    
    .product > p {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 13px;
      text-shadow: 0 3px 10px rgb(43, 42, 42)
                   0 0 2px rgb(43, 42, 42)
                   0 0 1px rgb(43, 42, 42);
      display: block;
      width: 82px;
    } 
    
    
    
    .product > img:first-child {
      position: absolute;
      width: 40px;
      height: 40px;
      margin-left: 140px;
      margin-top: 40px;
    }
  
  
    
    
  .btn {
      background-color:rgb(126, 126, 126);
      height: 42px;
      width: 165px;
      margin-right: 40px;
      margin-top: 50px;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      font-size: 20px;
    }
    
    .product > img:last-child {
      /* background-image: url('imgDelete.png'); */
      background-position: rtl;
      background-size: 60%;
      background-repeat: no-repeat;
      border-style: none;
      border-radius: 4px;
      height: 40px;
      width: 30px;
    }
  
    .product > img:last-child:hover {
      animation: delete 0.5s 1;
    }
    
    .btn:hover {
      transform: scale(1.110);
    }
      
    
    #btn_second {
        width: 180px;
        margin-top: 15px;
    }
    
  .title{
      margin-bottom: 50px;
      margin-top: 50px;
      text-align: center;
  }
    h1 {
        font-size: 40px;
        color: rgb(95, 95, 95);
      }
      
  @keyframes glow {
        0% {
          text-shadow: 0 0 4px white;
        }
        50% {
          text-shadow: 0 0 10px white;
        }
        100% {
          text-shadow: 0 0 4px white;
        }
      }
  @keyframes delete {
      30%{
          transform: rotate(-25deg);
      }    
      60%{
          transform: rotate(25deg);
      }
  } 
  }