@media (min-width:750px) {
    
    #nav{
        height: 300px;
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #nav >button{
        height: 200px;
        width: 250px;
        background-color: rgb(78, 158, 210);
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        color: white;
    }
    
    #nav >button:hover{
        transform: scale(1.03);
        background-color: rgb(117, 187, 234);
    }
}

@media (max-width: 750px) {
    
    #nav{
        height: 300px;
        width: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #nav >button{
        height: 250px;
        width: 250px;
        background-color: rgb(78, 158, 210);
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 10px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        color: white;
    }
    
    #nav >button:hover{
        transform: scale(1.03);
        background-color: rgb(117, 187, 234);
    }
}